<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <form method="GET" action="/followers">
    <div>
      <label for="name">アカウント名：</label>
      <input type="text" name="accountName" />
    </div>
    <div>
      <input type="submit" value="確認" />
    </div>
  </form>

</body>

</html>